.app-body {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  background-color:rgb(237, 236, 236);
}
.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  border-color: black;
  padding: 2rem;
  margin: 1rem;
}
.article-feed {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  border-color: black;
  background-color:rgb(249, 247, 247);
  height: auto;
  overflow: scroll;
  padding: 2rem;
  margin: 1rem;
}
.comments-container {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  border-color: black;
  background-color:rgb(249, 247, 247);
  overflow: scroll;
  padding: 2rem;
  margin: 1rem;
}
.article-container {
  background-color:white;
  padding: 2rem;
  margin: 1rem;
}
.comment-container {
  background-color:white;
  padding: 2rem;
  margin: 1rem;
}
----
.selected-article-container {

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  background-color:white;
  padding: 2rem;
  margin: 1rem;
}
.article-header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.article-author {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}
.article-body {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
.article-votes-container {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}